*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

h1 {
    margin-bottom: 4rem;
}

.playerNames {
    width: 100vw;
    height: 8vh;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

#playerOne {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#playerTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#start {
    margin-bottom: 1.1rem;
    background-color: green;
    border:2px solid black;
    height: 2.8rem;
    width: 7rem;
    color: white;
}
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    border: 5px solid rgb(0, 0, 0); 
    background-color: gray;   
    min-height: 24%;
    min-width: 35%;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 33.33%;
    min-width: 33.33%;
    background-color: gray;   
    font-size: 7rem;
   
    
    
}

.row {
    min-width: 29.5rem;
    display: flex;
    align-self: center;
}

#one, #two, #three, #four, #five, #six {
    border-bottom: 3px solid black;
}

#two, #three,#five, #six, #eight, #nine {
    border-left: 3px solid black;
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover {
    background-color: whitesmoke;
}