*{
    margin: 0;
    padding: 0;
    background-color: #5FB49C;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

h1 {
    margin-bottom: 4rem;
    font-size: 4rem;
    font-family: 'Caveat', cursive;
}

.playerNames {
    width: 100vw;
    height: 8vh;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    font-size:2rem;
    font-family: 'Dongle', sans-serif;
}

#playerOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#playerOne p, input, button {
    margin-bottom: 0.5rem;
}

input {
    background-color:white;
}

#submitOne, #submitTwo {
    min-width: 4rem;
    min-height: 2rem;
    background-color: #FF3864;
    color: white;
    border:2px solid #000;
    border-radius: 8%;
}

#playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#playerTwo p, input, button {
    margin-bottom: 0.5rem;
}

#start {
    margin-bottom: 1.1rem;
    background-color: #ECD444;
    border:2px solid black;
    height: 2.8rem;
    width: 7rem;
    color: #000;
}

button {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    border: 5px solid rgb(0, 0, 0); 
    background-color: gray;   
    min-height: 30rem;
    min-width: 30rem;
    margin-top: 1rem;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    min-width: 10rem;
    background-color: #F06543;   
    font-size: 7rem;
   
    
    
}

.row {
    min-width: 29.5rem;
    display: flex;
    align-self: center;
}

#one, #two, #three, #four, #five, #six {
    border-bottom: 3px solid #000;
}

#two, #three,#five, #six, #eight, #nine {
    border-left: 3px solid #000;
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover {
    background-color: #663399;
}